body {
  background-color: #fbfbfb;
  font-family: "Rubik", sans-serif;
}
.container {
  width: 1200px;
  align-items: center;
  text-align: center;
}
h1 {
  color: #17312c;
  font-size: 70px;
}

svg#freepik_stories-under-construction {
  margin-left: auto;
  margin-right: auto;
  display: block;
}

svg#freepik_stories-under-construction:not(.animated) .animable {
  opacity: 0;
}
svg#freepik_stories-under-construction.animated #freepik--Floor--inject-45 {
  animation: 1.5s Infinite linear floating;
  animation-delay: 0s;
}
svg#freepik_stories-under-construction.animated #freepik--Window--inject-45 {
  animation: 1.5s Infinite linear floating;
  animation-delay: 0s;
}
@keyframes floating {
  0% {
    opacity: 1;
    transform: translateY(0px);
  }
  50% {
    transform: translateY(-10px);
  }
  100% {
    opacity: 1;
    transform: translateY(0px);
  }
}
.animator-hidden {
  display: none;
}
